<form [formGroup]="updateExerciseForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text">
    </div>

    <ng-container *ngIf="muscles$ | async as muscles">
        <div>
            <label for="primaryMuscles">Primary Muscles</label>
            <select formControlName="primaryMuscles" id="primaryMuscles" multiple>
                <option *ngFor="let muscle of muscles" [value]="muscle">{{ muscle.name }}</option>
            </select>
        </div>

        <div>
            <label for="secondaryMuscles">Secondary Muscles</label>
            <select formControlName="secondaryMuscles" id="secondaryMuscles" multiple>
                <option *ngFor="let muscle of muscles" [value]="muscle">{{ muscle.name }}</option>
            </select>
        </div>
    </ng-container>

    <button type="submit" [disabled]="updateExerciseForm.invalid">Update Exercise</button>
</form>