<form [formGroup]="addExerciseForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text">
    </div>

    <ng-container *ngIf="muscles$ | async as muscles">
        <div>
            <input [formControl]="queryForm" type="search">
            <ul>
                <li *ngFor="let muscle of searchMuscles(muscles, queryForm.value)" [value]="muscle">
                    {{ muscle.name }}
                </li>
            </ul>
        </div>
    </ng-container>

    <div *ngIf="equipments$ | async as equipments">
        <label for="equipment">Equipment</label>
        <select formControlName="equipment" id="equipment">
            <option *ngFor="let equipment of equipments" [value]="equipment">
                {{ equipment.name }}
            </option>
            <option [value]="null">null</option>
        </select>
    </div>

    <button type="submit" [disabled]="addExerciseForm.invalid">Add Exercise</button>
</form>