<div>
    <p>Exercises</p>
    <ul *ngIf="exercises$ | async as exercises">
        <ng-container *ngFor="let exercise of exercises">
            <li (click)="addWorkoutExercise(exercise)">{{ exercise.name }}</li>
        </ng-container>
    </ul>
</div>
<form [formGroup]="addWorkoutForm">
    <div class="form-field">
        <label for="name">Name</label>
        <input autocomplete="off" formControlName="name" id="name">
    </div>
    <div formArrayName="workoutExercises" *ngIf="workoutExercises.length > 0">
        <ng-container *ngFor="let workoutExercise of workoutExercises; let i = index">
            <form [formGroup]="workoutExercise">
                <p>{{ exercises[i].name }}</p>
                <div formArrayName="sets" *ngIf="getWorkoutExerciseSetsAt(i).length > 0">
                    <ng-container *ngFor="let set of getWorkoutExerciseSetsAt(i); let j = index">
                        <form [formGroup]="set">
                            <div class="form-field">
                                <label for="reps">Reps</label>
                                <input formControlName="reps" id="reps" type="number">
                            </div>
                            <div class="form-field">
                                <label for="weightsKg">Weights Kg</label>
                                <input formControlName="weightsKg" id="weightsKg" type="number">
                            </div>
                        </form>
                    </ng-container>
                </div>
            </form>
            <button (click)="removeWorkoutExerciseAt(i)">Remove Exercise</button>
        </ng-container>
    </div>
</form>