form {
    width: 160px;

    #header {
        align-items: center;
        border: 1px solid;
        display: flex;

        &:hover {
            background: hsl(0, 0%, 20%);
            cursor: pointer;
        }

        #title {
            flex-grow: 1;
        }
    }

    #body {
        border: 1px solid;

        .option {
            display: flex;

            * {
                cursor: pointer;
            }

            label {
                flex-grow: 1;
            }

            &:hover {
                background: hsl(0, 0%, 20%);
            }
        }
    }
}