:host {
    display: flex;
    flex-direction: column;
    width: 160px;

    #header {
        border: 1px solid;

        &:hover {
            background: hsl(0, 0%, 20%);
            cursor: pointer;
        }
    }

    #body {
        border: 1px solid;
        display: flex;
        flex-direction: column;

        .option:hover {
            background: hsl(0, 0%, 20%);
            cursor: pointer;
        }
    }
}