:host {
    display: grid;
    grid-template-rows: 4em calc(100% - 4em);
    height: 100%;
    overflow: hidden;

    header {
        align-items: center;
        border-bottom: 1px solid gray;
        display: flex;
        padding: 8px;
    }

    main {
        display: flex;

        nav {
            border-right: 1px solid gray;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 8px;

            .tab {
                align-items: center;
                border-radius: 4px;
                color: gray;
                display: flex;
                gap: 8px;
                padding: 8px;
                text-decoration: none;

                &.active {
                    color: inherit;
                    cursor: default;
                }

                &:hover:not(.active) {
                    background: hsl(0, 0%, 12.5%);
                }

                &:active:not(.active) {
                    background: hsl(0, 0%, 25%);
                }
            }
        }

        article {
            overflow: auto;
            padding: 8px;
            width: 100%;
        }
    }
}