:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        border-bottom: 1px solid gray;
        padding: 8px;
    }

    section {
        display: flex;
        height: 100%;

        nav {
            border-right: 1px solid gray;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 8px;
        }

        article {
            padding: 8px;
            width: 100%;
        }
    }
}