:host {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;

    header {
        display: flex;
        justify-content: space-between;

        aside {
            display: flex;
            gap: 8px;
        }
    }

    section {
        height: calc(100% - 2px);
        overflow: auto;

        table {
            border-collapse: collapse;
            width: 100%;

            thead {
                background: hsl(0, 0%, 6.25%);
                position: sticky;
                top: 0;
            }

            tbody tr {
                cursor: pointer;

                &:hover {
                    background: hsl(0, 0%, 12.5%);
                }
            }

            .secondary {
                color: gray;
            }

            .row-actions {
                display: flex;
                gap: 8px;
            }

            th,
            td {
                padding: 16px 8px;
            }

            th {
                text-align: left;
            }
        }
    }
}