:host {
    display: flex;
    flex-direction: column;
    gap: 8px;

    header {
        display: flex;
        justify-content: space-between;

        aside {
            display: flex;
            gap: 8px;
        }
    }

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .workout {
            border: 1px solid gray;
            border-radius: 4px;
            cursor: pointer;
            padding: 16px;

            ol {
                margin: 0;
                padding-left: 18px;

                .sets {
                    color: gray;
                    display: flex;
                    gap: 32px;
                    justify-content: space-between;
                }
            }

            &:hover {
                background: hsl(0, 0%, 12.5%);
            }
        }
    }
}