<header>
    <h2>Workouts</h2>
    <aside>
        <input placeholder="Search Workouts" id="search" type="search">
        <button routerLink="add-workout">Add Workout</button>
    </aside>
</header>
<section *ngIf="workouts$ | async as workouts">
    <ng-container *ngFor="let workout of workouts">
        <div class="workout" [routerLink]="['update-workout', workout.id]">
            <header>
                <h3>{{ workout.name }}</h3>
                <button (click)="onDelete(workout.id)" type="button">Delete</button>
            </header>
            <ol>
                <ng-container *ngFor="let workoutExercise of workout.workoutExercises">
                    <li>
                        <p>{{ workoutExercise.exercise.name }}</p>
                        <p class="sets">
                            <span>Sets: {{ workoutExercise.sets.length }}</span>
                            <span>Ø Reps: {{ calculateAverage(workoutExercise, 'reps')}}</span>
                            <span>Ø Weights: {{ calculateAverage(workoutExercise, 'weightsKg') }} kg</span>
                        </p>
                    </li>
                </ng-container>
            </ol>
        </div>
    </ng-container>
</section>