<header>
    <h2>Workouts</h2>
    <aside>
        <input placeholder="Search Workouts" id="search" type="search">
        <button routerLink="add-workout">Add Workout</button>
    </aside>
</header>
<section *ngIf="workouts$ | async as workouts">
    <div class="workout" *ngFor="let workout of workouts">
        <h3>{{ workout.name }}</h3>
        <ol>
            <ng-container *ngFor="let workoutExercise of workout.workoutExercises">
                <li>
                    <p>{{ workoutExercise.exercise.name }}</p>
                    <p class="sets">
                        <span>Sets: {{ workoutExercise.sets.length }}</span>
                        <span>Ø Reps: {{ calculateAverage(workoutExercise, 'reps')}}</span>
                        <span>Ø Weights: {{ calculateAverage(workoutExercise, 'weightsKg') }} kg</span>
                    </p>
                </li>
            </ng-container>
        </ol>
    </div>
</section>