<ng-container *ngIf="exercises$ | async as exercises">
    <header>
        <h2>All Exercises</h2>
        <div id="actions">
            <input id="search" placeholder="Search Exercises" type="search">
            <button>
                <span class="material-symbols-rounded">tune</span>
                <span>Filter Exercises</span>
            </button>
            <button routerLink="/add-exercise">
                <span class="material-symbols-rounded">add</span>
                <span>Add Exercise</span>
            </button>
        </div>
    </header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Muscles</th>
                <th>Equipment</th>
                <th class="row-actions-header"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exercise of exercises">
                <td>{{ exercise.name }}</td>
                <td>
                    <p class="primary-muscles">{{ formatMuscles(exercise.primaryMuscles) }}</p>
                    <p class="secondary-muscles">{{ formatMuscles(exercise.secondaryMuscles) }}</p>
                </td>
                <td>{{ exercise.equipment?.name }}</td>
                <td class="row-actions">
                    <button [routerLink]="['/update-exercise', exercise.id]">
                        <span class="material-symbols-rounded">edit</span>
                    </button>
                    <button (click)="onDelete(exercise.id)">
                        <span class="material-symbols-rounded">delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>