<table *ngIf="exercises$ | async as exercises">
    <thead>
        <tr>
            <th>Name</th>
            <th>Muscles</th>
            <th>
                <button routerLink="/add-exercise">Add</button>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let exercise of exercises">
            <td>{{ exercise.name }}</td>
            <td>{{ formatMuscles(exercise.muscles) }}</td>
            <td>
                <button [routerLink]="['/update-exercise', exercise.id]">Update</button>
                <button (click)="onDelete(exercise.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>