<form [formGroup]="dropdownForm">
    <div (click)="onToggle()" id="header">
        <span id="title">{{ selected ? selected.name : 'Select' }}</span>
        <span class="material-symbols-rounded">{{ isCollapsed ? 'arrow_drop_down' : 'arrow_drop_up' }}</span>
    </div>

    <div *ngIf="!isCollapsed" id="body">
        <div class="option" *ngFor="let option of options; let i = index">
            <input formControlName="options" [id]="i" type="radio" [value]="option">
            <label (click)="onToggle()" [for]="i">{{ option.name }}</label>
        </div>
    </div>
</form>