@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    background: hsl(0, 0%, 6.25%);
    color: hsl(0, 0%, 87.5%);
    font-family: 'Roboto';
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
    margin: 0;
}